.ModalWindow{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none ;
}
.ModalWindow__content{
    padding: 25px;
    background: antiquewhite;
    border-radius: 20px;
    min-width: 250px;
}
.ModalWindowActive{
    display: flex;
    justify-content: center;
    align-items: center;
}