.bar{
    height: 40px;
    width: 100vw;
    padding: 15px;
    background-color: darkturquoise;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.firstLink{
    margin: 10px;
    margin-left: auto;
}
.Link{
    margin: 10px;
}