.ToDoBorderDiv{
    width: 900px;
    height: auto;
    border: 1px solid indigo;
    text-align: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 15px;
    display: flex;
}
.FormDiv{
    display: flex;
}
.ToDoContent{
    display: flex;
    justify-content:space-between;
}
.ToDoButtonsDiv{
    flex-direction: column;
}
.btn{
    cursor: pointer;
    margin: 5px;
    width: 70px;
}
.TimeDivExpired{
    color: brown;
}
.CompletedText{
    text-decoration: line-through;
}